<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://verne.studio">
      <img class="logo" src="/verne-logo.png">
    </a>
  </div>

  <div class="navbar-menu">

    <div class="navbar-end">
      <!-- <a class="navbar-item">NOSOTROS</a> -->
      <%if (typeof(user)!='undefined') { %>
        <span class="navbar-item"><%= user.name %></span>
        <a class="navbar-item" href="/logout">Logout</a>
      <% } %>

      <!-- <a class="navbar-item">ILLUSTRATION SERIES</a>
      <a class="navbar-item">EXCLUSIVE ILLUSTRATIONS</a> -->
    </div>
  </div>
</nav>
