body {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
}
pre {
  margin: 0;
  padding: 0;
}
.nombre {
  font-weight: bold;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.grupo {
  padding: 10px;
}
textarea {
  font-family: sans-serif;
  width: 100%;
  height: 300px;
  font-size: 18px;
}
.mezclarBut {
  font-size: 40px;
}

.admin {
  padding: 0 30px 20px;
  border: 10px dashed grey;
}
label {
  color: grey;
}
.subconfig label {
  font-size: 16px;
}

.listaParticipantxs,
.listaGrupos {
  display: flex;
  flex-wrap: wrap;
}

#app {
  padding: 20px;
  border: 20px solid rgb(0, 0, 0);
  height: calc(100vh - 3.25em);
}
.container {
  display: flex;
  display: flex;
  height: calc(100% - 89px);
}
.myData {
  /*min-width: 420px;*/
}
.myData,
.othersData {
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.othersData .item {
  font-size: 14px;
  border: 5px solid rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
}

.vc-slider {
  width: unset !important;
}

.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* border: 1px solid; */
  display: inline-block;
  /* padding: 5px;
  color: grey;
  margin-top: 5px; */

  position: relative;
  /* top:0px; */
}
/* .btn:hover {
  color: #000;
} */
.btn.down{
  top: 2px;
}
#conexionDuplicada{
  display: none
}
#conexionDuplicada.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffffc7;
  z-index: 99;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}
#colorContainer{
  width: 100%;
}

.tab{
  display: none;
}
.tab.active{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 18em);
  justify-content: space-evenly;
  align-items: center;
}
[v-cloak] { display: none; }
